@charset "UTF-8";
/*----------背景----------*/

body{
    background-image:url(./abehaikei.jpgsmall);
}

/*----------サイドメニュー----------*/
.sidemenu{
    background-color:rgb(211, 211, 241) ;
    width: 180px;
    height: 160%;
    position: absolute;
    margin-top: 0px;
}

.sidemenu ul li{
    list-style: none;
}


















/*----------h1----------*/
h1{
text-align: center;
margin-top: 1cm;
}


/*----------顔写真----------*/

.image{
    position: absolute;
    margin-top: 60px;
    margin-left: 5.5cm;
    
}


/*----------プロフィール----------*/

.profile{
   display: inline;
   position: absolute;
   margin-top: 510px;
   margin-left: 3.5cm;
}

.profile ul li{
    list-style: none;
}


/*----------英語表記----------*/
.english{
    position: absolute;
    margin-top: 580px;
    margin-left: 5.5cm;

}


/*----------メール----------*/
.mail{
    position: absolute;
    margin-top: 800px;
    margin-left: 5.5cm;

}

/*----------住所----------*/
.add{
    position: absolute;
    margin-top: 850px;
    margin-left: 5.5cm;
}




/*----------コンテンツ----------*/

span{
    color: red;
}


.content{
    position: relative;
    margin-right: 100px;
    float: right;
    font-weight: bold;
}

.content p{
    text-align: center;
}

.dorama{
    border-top:solid 1px gray;
}
.dorama p{
    text-align: left;
}
.dorama ul li{
    list-style: none;
}


.movie{
    border-top:solid 1px gray;
}

.movie p{
    text-align:left;

}

.movie ul li{
  list-style: none;


}



.text{
    border-top:solid 1px gray;
}

.text p{
  text-align: left;
}
